$primary: #2e2e2e;
$primary-hover: #141414;
$active-bg: #dad8d8d5;
$primary-text: #d3d0d0;

$setting: #686666;
$setting-hover: #827d7d;

$player: #202020;
$player-hover: #404040;

$active: rgb(54, 163, 54);
$inactive: rgb(189, 58, 58);

$box-shadow-base: 
    1.6px 1.2px 33.1px rgba(0, 0, 0, 0.062),
    4.1px 3.1px 40.1px rgba(0, 0, 0, 0.089),
    8.3px 6.4px 42.5px rgba(0, 0, 0, 0.111),
    17.2px 13.1px 45.8px rgba(0, 0, 0, 0.138),
    47px 36px 67px rgba(0, 0, 0, 0.2)
;